.miNavBar {
    background-color: rgb(212, 167, 200);
    margin: 0;
}

.container {
    margin: 0;
}

.me-auto {
    margin-right: 0px !important;
    align-items: center;
}

.container {
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}